/*
Budget Game Rankings
Author: Kevin Leader
Date: Spring 2021
Filename: bgr.css
*/

/*
TODO Colors?
https://www.sessions.edu/color-calculator-results/?colors=ffde05,6105ff,05a3ff
*/

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    background-color: transparent;
}

nav a:hover {
    color: white;
    background-color: #343a40;
}

div.container {
    background-color: white;
}

img {
    max-width: 100%;
}

label.bold, p.text-danger {
    font-weight: bold;
}

span.deletetext {
    font-size: x-small;
    color: red;
}